# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
# And OS or Editor folders
[Bb]in/
*.tmp
*.log
*.DS_Store
._*
Thumbs.db
.cache
.tmproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.directory
.history
.tempChromeProfileForDebug
junit.xml

# Node Modules
**/node_modules/*

# Build tools
/packages/core/buildTools/
packages/browserExtension/node_modules/*

# Local dist
**/www/scripts/**
dist
.temp
*.tsbuildinfo

# unignore
!/src/smartFiltersEditor/components/log

# generated shader TS files
**/*.shader.ts