trigger:
    - deploy

# Do not run on PR builds
pr: none

jobs:
    - job: Deploy
      displayName: "Build and Publish"
      pool:
          vmImage: "Ubuntu-latest"
          demands: npm
      steps:
          - script: "npm install"
            displayName: "Npm install and build"
          - script: "npm run test"
            displayName: "Jest Unit Tests"
          - script: "npm run preparePublish"
            displayName: "Npm preparePublish (version setting, cross-package dependency configuration)"
          - task: Npm@1
            displayName: "Npm publish"
            inputs:
                command: "custom"
                customCommand: "publish --tag preview --access public -w @babylonjs/smart-filters"
                customEndpoint: "NPMWithAccessToken"
          - script: |
                # SFE
                cd packages/sfe/www
                zip -r ../../../dist.zip *
                cd ../../..
                curl $(DEPLOYMENT_SERVER)/upload -i -X POST -H "Content-Type: multipart/form-data" -H "Authorization: $(BASIC_AUTH)" -F "path=smartFiltersEditor" -F "storageAccount=babylontools"  -F "zip=@dist.zip"
                curl "$(DEPLOYMENT_SERVER)/purgeTest?endpoint=smart-filters-editor&profileName=babylonjstools&wait=true" -i -H "Authorization: $(BASIC_AUTH)"
            displayName: "SFE deployment"
